/**
  * File css custom
  */
.item-padding-8 {
    padding: 8px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    margin-left: 16px;
}

.product-section.product-section .products{
    width: 100%;
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
ol, ul {
    margin-left: 0!important;
    list-style-type: none;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #ff541e!important;
}

#mini-cart-box .cart-mini-container .woocommerce-mini-cart__empty-message {
    text-align: center;
}

#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item {
    position: relative;
}
#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item a{
    display: inline;
}
#mini-cart-box .total, #mini-cart-box .woocommerce-mini-cart__buttons{
    padding-left: 16px;
}
#mini-cart-box .woocommerce-mini-cart__buttons .checkout {
    margin-left: 8px!important;
}
.woocommerce-mini-cart-item.mini_cart_item .quantity {

}

#mini-cart-box .woocommerce-mini-cart-item.mini_cart_item a.remove {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 32px;
    margin-top: -16px;
}

#mini-cart-box  .woocommerce-mini-cart-item.mini_cart_item img {
    width: 25%;
    float: none;
}

mark.count {
    background: #ff541e!important;
}

.woocommerce a.button.add_to_cart_button {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.header-wrapper .header-top .frnavbar-collapse .navbar-nav .menu-item.menu-item-has-children .sub-menu>.menu-item>a {
    text-transform: capitalize;
}

.woocommerce-pagination.berocket_pagination {
    display: table!important;
    margin: 0 auto!important;
    width: 100%;

}
.woocommerce-pagination.berocket_pagination .page-numbers li.next a.next.page-numbers,
.woocommerce-pagination.berocket_pagination ul li a.prev{
    background: #ff541e;
    color: #fff!important;
}

.woocommerce-tabs h2, .related.products h2 {
    font-size: 18px;
}

header.woocommerce-products-header {
    margin-left: 12px;
}
.woocommerce .woocommerce-result-count {
    margin-left: 16px!important;
    margin-right: 10px!important;
}

.layout-grid .post-item, li.product-category.product, li.product-category.product:hover, .layout-grid .post-item:hover, .layout-grid .item:hover {
    border: none;
}

.product-section .btn-gap, .product-section .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.custom-col-5 {
    float: left;
}

.product-section .post-item {
    margin-bottom: 4px;
}

.product-section .item-wrapper .item-padding-8{
    min-height: 106px;
}

.product-section .post-item .product-name{
    font-size: 14px;
    text-transform: capitalize;
}

.product-section .section-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.product-section .section-actions .btn-likes, .product-section .section-actions .btn-comments {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(0,0,0,.26);
    cursor: pointer;
}
.product-section .section-actions .btn-likes .text{
    margin-left: 3px;
}
/**
  * Dashboard menu
  */
.menu-categories {
  list-style: none;
  border: 1px solid #faa61a;
  background-color: #faa61a;
  padding: 5px;
}

.menu-categories > .menu-category a {
  display: block;
  color: white;
  padding: 5px;
  border-bottom: 1px dashed white;
}

.menu-category {
  position: relative;
}

/**
  * hover
  */
  .menu-div-show {
    width: 200px;
    /* height: 200px; */
    background-color: whitesmoke;
    display: none;
  }

  a.menu-link-hover {
    color: black;
  }

  a.menu-link-hover:hover + .menu-div-show {
    display: block;
    position: absolute;
    top: 0;
    left: 102.5%;
    z-index: 999;
  }

  .header-search .dgwt-wcas-search-wrapp .dgwt-wcas-search-form input[type=search].search-field {
      border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 7px;
    padding-right: 60px;
    padding-bottom: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 20px;
  }

/**
  * feature products
  */
a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart, span.wc-block-grid__product-onsale {
  background-color: #faa61a;
}

figure.wp-block-embed-wordpress.wp-block-embed.is-type-wp-embed.is-provider-thiết-bị-lao-dộng.post-on-dashboard {
  display: inline-block;
}

/**
  * float contact
  */
div#contact-floated {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 2;
  color: whitesmoke;
  border: none;
  background-color: #ff531e;
  padding: 20px;
}

div#contact-floated a {
  color: whitesmoke;
}

.wc-block-grid__product-price, .wc-block-grid__product-rating, .wc-block-grid__product-title {
    font-size: 16px;
}

a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart, span.wc-block-grid__product-onsale {
    background: #ff531e;
    font-size: 12px;
    padding: 6px 12px;
    outline: none;
}
span.wc-block-grid__product-onsale {
    display: none;
}

.woocommerce  .related.products .products.columns-4 li.post-item{
    width: 24%;
    display: inline-block;
    border: none;
}

.woocommerce  .related.products .products.columns-4 li.post-item .text-name .product-name {
    font-size: 16px;
}

.woocommerce  .related.products .products.columns-4 li.post-item:hover{
    border: none;
}


.footer-wrapper .widget-column .widget-title {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-wrapper .header-top {
    background-color: #f73b00;
    font-size: 13px;
    color: #fff;
}


li.product-category.product {
  margin-right: 0 !important;
}
