/**
  * File css custom
  */
.item-padding-8 {
    padding: 8px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    margin-left: 16px;
}

ol, ul {
    margin-left: 0!important;
}

.product-section .btn-gap, .product-section .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.custom-col-5 {
    float: left;
}

.product-section .post-item {
    margin-bottom: 4px;
}

.product-section .item-wrapper .item-padding-8{
    min-height: 106px;
}

.product-section .post-item .product-name{
    font-size: 14px;
    text-transform: capitalize;
}

.product-section .section-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.product-section .section-actions .btn-likes, .product-section .section-actions .btn-comments {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(0,0,0,.26);
    cursor: pointer;
}
.product-section .section-actions .btn-likes .text{
    margin-left: 3px;
}
/**
  * Dashboard menu
  */
.menu-categories {
  list-style: none;
  border: 1px solid #faa61a;
  background-color: #faa61a;
  padding: 5px;
}

.menu-categories > .menu-category a {
  display: block;
  color: white;
  padding: 5px;
  border-bottom: 1px dashed white;
}

.menu-category {
  position: relative;
}

/**
  * hover
  */
  .menu-div-show {
    width: 200px;
    /* height: 200px; */
    background-color: whitesmoke;
    display: none;
  }

  a.menu-link-hover {
    color: black;
  }

  a.menu-link-hover:hover + .menu-div-show {
    display: block;
    position: absolute;
    top: 0;
    left: 102.5%;
    z-index: 999;
  }

  .header-search .dgwt-wcas-search-wrapp .dgwt-wcas-search-form input[type=search].search-field {
      border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 7px;
    padding-right: 60px;
    padding-bottom: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 20px;
  }

/**
  * feature products
  */
a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart, span.wc-block-grid__product-onsale {
  background-color: #faa61a;
}

figure.wp-block-embed-wordpress.wp-block-embed.is-type-wp-embed.is-provider-thiết-bị-lao-dộng.post-on-dashboard {
  display: inline-block;
}

/**
  * float contact
  */
div#contact-floated {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 2;
  color: whitesmoke;
  border: none;
  background-color: #ff531e;
  padding: 20px;
}

div#contact-floated a {
  color: whitesmoke;
}

.footer-wrapper .widget-column .widget-title {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0,0,0,.54);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-wrapper .header-top {
    background-color: #f73b00;
    font-size: 13px;
    color: #fff;
}
